<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://cribazurefunctionapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/511cb4b4-ced1-4988-826d-78afafa11eab/resourcegroups/Crib/providers/Microsoft.Web/sites/CribAzureFunctionApp</ResourceId>
    <UserName>$CribAzureFunctionApp</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://cribazurefunctionapp.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>