

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src: url("roboto-cyrillic-ext-300-normal.00553455.woff2") format("woff2"), url("roboto-all-300-normal.a5454159.woff") format("woff");
  unicode-range: U+460-52F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src: url("roboto-cyrillic-300-normal.9d5d6bb8.woff2") format("woff2"), url("roboto-all-300-normal.a5454159.woff") format("woff");
  unicode-range: U+301, U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src: url("roboto-greek-ext-300-normal.77bab8a9.woff2") format("woff2"), url("roboto-all-300-normal.a5454159.woff") format("woff");
  unicode-range: U+1F??;
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src: url("roboto-greek-300-normal.9178a396.woff2") format("woff2"), url("roboto-all-300-normal.a5454159.woff") format("woff");
  unicode-range: U+370-3FF;
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src: url("roboto-vietnamese-300-normal.3c8ca3ba.woff2") format("woff2"), url("roboto-all-300-normal.a5454159.woff") format("woff");
  unicode-range: U+102-103, U+110-111, U+128-129, U+168-169, U+1A0-1A1, U+1AF-1B0, U+1EA0-1EF9, U+20AB;
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src: url("roboto-latin-ext-300-normal.6ad96c4c.woff2") format("woff2"), url("roboto-all-300-normal.a5454159.woff") format("woff");
  unicode-range: U+100-24F, U+259, U+1E??, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src: url("roboto-latin-300-normal.9454195e.woff2") format("woff2"), url("roboto-all-300-normal.a5454159.woff") format("woff");
  unicode-range: U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url("roboto-cyrillic-ext-400-normal.f6f3ffd4.woff2") format("woff2"), url("roboto-all-400-normal.b91de154.woff") format("woff");
  unicode-range: U+460-52F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url("roboto-cyrillic-400-normal.b0e38f47.woff2") format("woff2"), url("roboto-all-400-normal.b91de154.woff") format("woff");
  unicode-range: U+301, U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url("roboto-greek-ext-400-normal.b5d9f282.woff2") format("woff2"), url("roboto-all-400-normal.b91de154.woff") format("woff");
  unicode-range: U+1F??;
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url("roboto-greek-400-normal.eeb28ad6.woff2") format("woff2"), url("roboto-all-400-normal.b91de154.woff") format("woff");
  unicode-range: U+370-3FF;
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url("roboto-vietnamese-400-normal.234afd62.woff2") format("woff2"), url("roboto-all-400-normal.b91de154.woff") format("woff");
  unicode-range: U+102-103, U+110-111, U+128-129, U+168-169, U+1A0-1A1, U+1AF-1B0, U+1EA0-1EF9, U+20AB;
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url("roboto-latin-ext-400-normal.1ed39c54.woff2") format("woff2"), url("roboto-all-400-normal.b91de154.woff") format("woff");
  unicode-range: U+100-24F, U+259, U+1E??, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url("roboto-latin-400-normal.8dd06f6a.woff2") format("woff2"), url("roboto-all-400-normal.b91de154.woff") format("woff");
  unicode-range: U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url("roboto-cyrillic-ext-500-normal.1c8a0e11.woff2") format("woff2"), url("roboto-all-500-normal.18eec500.woff") format("woff");
  unicode-range: U+460-52F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url("roboto-cyrillic-500-normal.457efaed.woff2") format("woff2"), url("roboto-all-500-normal.18eec500.woff") format("woff");
  unicode-range: U+301, U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url("roboto-greek-ext-500-normal.e2d12a1e.woff2") format("woff2"), url("roboto-all-500-normal.18eec500.woff") format("woff");
  unicode-range: U+1F??;
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url("roboto-greek-500-normal.175d4657.woff2") format("woff2"), url("roboto-all-500-normal.18eec500.woff") format("woff");
  unicode-range: U+370-3FF;
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url("roboto-vietnamese-500-normal.a3e0d879.woff2") format("woff2"), url("roboto-all-500-normal.18eec500.woff") format("woff");
  unicode-range: U+102-103, U+110-111, U+128-129, U+168-169, U+1A0-1A1, U+1AF-1B0, U+1EA0-1EF9, U+20AB;
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url("roboto-latin-ext-500-normal.2c1baddc.woff2") format("woff2"), url("roboto-all-500-normal.18eec500.woff") format("woff");
  unicode-range: U+100-24F, U+259, U+1E??, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url("roboto-latin-500-normal.c1f1bcca.woff2") format("woff2"), url("roboto-all-500-normal.18eec500.woff") format("woff");
  unicode-range: U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url("roboto-cyrillic-ext-700-normal.0275256d.woff2") format("woff2"), url("roboto-all-700-normal.c6bf39bd.woff") format("woff");
  unicode-range: U+460-52F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url("roboto-cyrillic-700-normal.61b8a80a.woff2") format("woff2"), url("roboto-all-700-normal.c6bf39bd.woff") format("woff");
  unicode-range: U+301, U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url("roboto-greek-ext-700-normal.d9b280c4.woff2") format("woff2"), url("roboto-all-700-normal.c6bf39bd.woff") format("woff");
  unicode-range: U+1F??;
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url("roboto-greek-700-normal.9915a8cf.woff2") format("woff2"), url("roboto-all-700-normal.c6bf39bd.woff") format("woff");
  unicode-range: U+370-3FF;
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url("roboto-vietnamese-700-normal.b4e7637d.woff2") format("woff2"), url("roboto-all-700-normal.c6bf39bd.woff") format("woff");
  unicode-range: U+102-103, U+110-111, U+128-129, U+168-169, U+1A0-1A1, U+1AF-1B0, U+1EA0-1EF9, U+20AB;
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url("roboto-latin-ext-700-normal.e8ac54a0.woff2") format("woff2"), url("roboto-all-700-normal.c6bf39bd.woff") format("woff");
  unicode-range: U+100-24F, U+259, U+1E??, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url("roboto-latin-700-normal.4852678b.woff2") format("woff2"), url("roboto-all-700-normal.c6bf39bd.woff") format("woff");
  unicode-range: U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.hg-theme-default {
  box-sizing: border-box;
  touch-action: manipulation;
  -webkit-user-select: none;
  user-select: none;
  width: 100%;
  background-color: #ececec;
  border-radius: 5px;
  padding: 5px;
  font-family: HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
  overflow: hidden;
}

.hg-theme-default .hg-button span {
  pointer-events: none;
}

.hg-theme-default button.hg-button {
  font-size: inherit;
  border-width: 0;
  outline: 0;
}

.hg-theme-default .hg-button {
  flex-grow: 1;
  display: inline-block;
}

.hg-theme-default .hg-row {
  display: flex;
}

.hg-theme-default .hg-row:not(:last-child) {
  margin-bottom: 5px;
}

.hg-theme-default .hg-row .hg-button-container, .hg-theme-default .hg-row .hg-button:not(:last-child) {
  margin-right: 5px;
}

.hg-theme-default .hg-row > div:last-child {
  margin-right: 0;
}

.hg-theme-default .hg-row .hg-button-container {
  display: flex;
}

.hg-theme-default .hg-button {
  -webkit-tap-highlight-color: #0000;
  box-sizing: border-box;
  cursor: pointer;
  height: 40px;
  background: #fff;
  border-bottom: 1px solid #b5b5b5;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  padding: 5px;
  display: flex;
  box-shadow: 0 0 3px -1px #0000004d;
}

.hg-theme-default .hg-button.hg-standardBtn {
  width: 20px;
}

.hg-theme-default .hg-button.hg-activeButton {
  background: #efefef;
}

.hg-theme-default.hg-layout-numeric .hg-button {
  height: 60px;
  width: 33.3%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.hg-theme-default .hg-button.hg-button-numpadadd, .hg-theme-default .hg-button.hg-button-numpadenter {
  height: 85px;
}

.hg-theme-default .hg-button.hg-button-numpad0 {
  width: 105px;
}

.hg-theme-default .hg-button.hg-button-com {
  max-width: 85px;
}

.hg-theme-default .hg-button.hg-standardBtn.hg-button-at {
  max-width: 45px;
}

.hg-theme-default .hg-button.hg-selectedButton {
  color: #fff;
  background: #05194687;
}

.hg-theme-default .hg-button.hg-standardBtn[data-skbtn=".com"] {
  max-width: 82px;
}

.hg-theme-default .hg-button.hg-standardBtn[data-skbtn="@"] {
  max-width: 60px;
}

.hg-candidate-box {
  max-width: 272px;
  -webkit-user-select: none;
  user-select: none;
  background: #ececec;
  border-bottom: 2px solid #b5b5b5;
  border-radius: 5px;
  margin-top: -10px;
  display: inline-flex;
  position: absolute;
  transform: translateY(-100%);
}

ul.hg-candidate-box-list {
  flex: 1;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

li.hg-candidate-box-list-item {
  height: 40px;
  width: 40px;
  justify-content: center;
  align-items: center;
  display: flex;
}

li.hg-candidate-box-list-item:hover {
  cursor: pointer;
  background: #00000008;
}

li.hg-candidate-box-list-item:active {
  background: #0000001a;
}

.hg-candidate-box-prev:before {
  content: "◄";
}

.hg-candidate-box-next:before {
  content: "►";
}

.hg-candidate-box-next, .hg-candidate-box-prev {
  color: #969696;
  cursor: pointer;
  align-items: center;
  padding: 0 10px;
  display: flex;
}

.hg-candidate-box-next {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.hg-candidate-box-prev {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.hg-candidate-box-btn-active {
  color: #444;
}

/*# sourceMappingURL=index.4a5519d3.css.map */
