/* html { 
    background: url(wood1.jpeg?as=webp) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  } */

.conflict {
  text-decoration: underline red;
}
.offGrid {
  text-decoration: underline orange wavy;
}
.selected {
  font-style: italic;
}
.is-editor-empty[data-placeholder]:before {
  content: attr(data-placeholder);
  pointer-events: none;
}
.ProseMirror {
  padding-bottom: 5px;
}
